.product-image {
  width: 26em;
}
.card .card-image img {
  width: 390px;
  height: 390px;
}

.modal.modal-fixed-footer {
  width: 90%;
  height: 90%;
}
.modal {
  margin-top: -2em;
  max-height: 85%;
}
.width-ajust {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex-ajust {
  display: flex;
  justify-content: center;
}
.product-button {
  width: 15em;
  font-size: 70%;
}

.product-thumb {
  border-radius: 100%;
  height: 8.7em;
  width: 8.7em;
  border: 1px outset rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 10px 10px 15px -5px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 10px 10px 15px -5px rgba(0, 0, 0, 0.55);
  box-shadow: 10px 10px 15px -5px rgba(0, 0, 0, 0.55);
}

@media screen and (max-width: 900px) {
  .product-image {
    width: 20em;
  }
  .card .card-image img {
    width: 280px;
    height: 280px;
  }

  .product-thumb {
    width: 5.7em;
    height: 5.7em;
  }
  .product-width-ajust {
    width: 18em;
  }
}

@media screen and (max-width: 600px) {
  .product-image {
    width: 16em;
  }
  .card .card-image img {
    width: 224px;
    height: 224px;
  }

  .product-button {
    width: 15em;
  }
}
@media screen and (max-width: 320px) {
  .product-image-content {
    width: 10em;
    height: 20em;
  }
  .product-button {
    width: 15em;
  }
}
