.product-image {
  border-radius: 1em 1em;
  width: 100%;
}
.card .card-image img {
  width: 100%;
}

.modal.modal-fixed-footer {
  width: 90%;
  height: 90%;
}
.modal {
  margin-top: -2em;
  max-height: 85%;
}
.width-ajust {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex-ajust {
  display: flex;
  justify-content: center;
}
.product-button {
  width: 15em;
  font-size: 70%;
}

.product-thumb {
  border-radius: 100%;
  height: 8.7em;
  width: 8.7em;
  border: 1px outset rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 10px 10px 15px -5px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 10px 10px 15px -5px rgba(0, 0, 0, 0.55);
  box-shadow: 10px 10px 15px -5px rgba(0, 0, 0, 0.55);
}
